doctype html 
html 
    head 
    body 
        h1 For/Each Loop 
        //- - const names = ["Dom", "Ram", "Shyam"]
        - const grades = {"Web Dev": 100, "Software Design" : "76"}
        //- each n, i in [1,2,3,4,5]
        //-     p=n + " - " + i
        each n, i in []
            p=n + " - " + i
        else 
            strong No values are here!